.media {
  width: 100%;
  > .subtitle,
  > .title {
    @include until($tablet) {
      padding: 0 5rem;
    }
  }

  > .level {
    margin-bottom: 8rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    @include from($tablet) {
      max-width: 52%;
      margin-left: 0;
      margin-right: 0;
    }

  }
  .columns {
    @include until($tablet) {
      margin: 0;
    }
  }

  .card {
    outline: none !important;
    border: none !important;

    &:hover {
      cursor: pointer;

      .image:before {
        background: rgba(0,0,0,0);
      }
    }
    &-image {
      position: relative;

      .image {
        height: 200px;
        @include from($desktop) {
          height: 135px;
        }

        @include until($tablet) {
          height: 350px;
        }
        &:before {
          transition: all ease-in .25s;
          @include from($tablet){
            content: "";
          }
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.7);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &__episode-number {
      $size: 30px;
      background-color: $body-color;
      font-weight: bold;
      text-align: center;
      height: $size;
      width: $size;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $size;
      z-index: 1;
    }

    .card-content  {
      > .title,
      > .subtitle {
        @include until($tablet) {
          padding-left: 4rem;
          padding-right: 4rem;
        }
      }
      .title {
        @include from($tablet) {
          font-size: .95rem;
        }
      }
      .subtitle {
        @include from($tablet) {
          font-size: .8rem;
        }
      }
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.icon-holder {
  justify-content: flex-end;
  display: none;

  @include from($tablet) {
    display: flex;
  }

  i {
    outline: none;
    cursor: pointer;
    &:first-child {
      margin-right: 1rem;
    }
  }
}

.ant-carousel {
  .slick-dots-top {
    top: -20px;
  }
}