.media {
  width: 100%;
  > .subtitle,
  > .title {
    @include until($tablet) {
      padding: 0 5rem;
    }
  }

  .level {
    margin-bottom: 8rem;
    max-width: 80%;

    @include from($tablet) {
      max-width: 52%;
    }
  }

  .card {
    // width: 30%;
    &:hover {
      cursor: pointer;

      .image:before {
        background: rgba(0,0,0,0);
      }
    }
    &-image {
      position: relative;

      .image {
        position: relative;

        @include from($desktop) {
          height: 135px;
        }
        &:before {
          transition: all ease-in .25s;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.7);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &__episode-number {
      $size: 30px;
      background-color: $body-color;
      font-weight: bold;
      text-align: center;
      height: $size;
      width: $size;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $size;
      z-index: 1;
    }

    .card-content  {
      > .title,
      > .subtitle {
        @include until($tablet) {
          padding-left: 4rem;
          padding-right: 4rem;
        }
      }
      padding-left: 0;
      padding-right: 0;
    }
  }
}