#sidebar {
  position: fixed;
  top: 0;
  right: -9999px;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  transition: all ease-in-out .4s;
  @include from($tablet) {
    width: 30rem;
  }

  &.active {
    right: 0;
  }
  z-index: 2;
}

.sidebar-container {
  color: black;

  .episode-cover {
    height: 52.7vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sidebar-reviews {
    display: flex;
    justify-content: space-between;

    .anticon-star {
      color: #EFD358;
    }
  }
  .sidebar-meta * {
    color: inherit;
  }

  .section {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(151,151,151, .2);
    }
  }
}