#sidebar {
  position: fixed;
  top: 0;
  right: -9999px;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  transition: all ease-in-out .4s;
  @include from($tablet) {
    width: 30rem;
  }

  &.active {
    right: 0;
  }
}

.sidebar-container {
  color: black;

  .sidebar-meta * {
    color: inherit;
  }

  .section {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(151,151,151, .2);
    }
  }
}